@import "tailwindcss";

html {
  overflow-y: scroll;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-zen-kaku), Arial, Helvetica, sans-serif;
}

.circle-pattern {
  background-image:
    radial-gradient(circle, #f3f0ed 5px, transparent 5px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.striped-background {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #f3f0ed 10px,
    #f3f0ed 11px
  );
}

@keyframes text-scroll {
  from {transform: translateX(-50%);}
  to {transform: translateX(0%);}
}
.scrolling {
display: flex;
width: max-content;
animation: text-scroll 18s linear infinite;
white-space: nowrap;
}


